@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  background: #111111;
  font-family: sans-serif;
}
body::before {
  content: "";

  position: fixed;

  width: 500px;
  height: 500px;

  background: rgba(0, 255, 204, 0.15);

  filter: blur(120px);

  top: -100px;
  left: -100px;

  z-index: -1;
}
body::after {
  content: "";

  position: fixed;

  inset: 0;

  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.6)
    );

  pointer-events: none;
}
canvas {
  display: block;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #000000;
}
body::before {
  content: "";

  position: fixed;

  width: 600px;
  height: 600px;

  background:
    rgba(34, 211, 238, 0.12);

  filter: blur(140px);

  top: -200px;
  left: -200px;

  z-index: -1;
}
button,
li {
  cursor: pointer;
}
body {
  background:
    radial-gradient(
      circle at top left,
      rgba(34, 211, 238, 0.12),
      transparent 40%
    ),
    #000000;
}
* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
}