@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  background: #111111;
  font-family: sans-serif;
}
body::before {
  content: "";

  position: fixed;

  width: 500px;
  height: 500px;

  background: rgba(0, 255, 204, 0.15);

  filter: blur(120px);

  top: -100px;
  left: -100px;

  z-index: -1;
}
body::after {
  content: "";

  position: fixed;

  inset: 0;

  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.6)
    );

  pointer-events: none;
}